@use "./font";
@use "./reset";
@use "./root";

body {
  font-family: var(--ff-primary);
  font-size: 1rem;
  text-align: center;
  font-weight: 300;
  background-color: var(--clr-dark-blue);
}

.container {
  position: relative;
  padding: 4rem 1.5rem 5.75rem;
  min-height: 100vh;
  isolation: isolate;
  background-color: var(--clr-dark-blue);

  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    background-image: url("../assets/mobile/image-host.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.1;
  }
}

.bg-pattern {
  display: none;
}

.header {
  width: var(--logo-width);
  height: var(--log-height);
  margin: auto;
}

.main {
  margin-top: 3.75rem;
}

.title {
  font-size: var(--fs-heading);
  line-height: var(--lh-heading);
  font-weight: 300;
  text-transform: uppercase;
  color: var(--clr-green);

  span {
    color: var(--clr-white);
  }
}

.subtitle {
  font-size: var(--fs-text);
  line-height: var(--lh-text);
  color: var(--clr-lighter-blue);
  max-width: 40ch;

  margin: 1rem 0 2rem;
}

.media {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1.5rem;

  img {
    filter: invert(40%) sepia(32%) saturate(462%) hue-rotate(187deg)
      brightness(90%) contrast(88%);
  }
}

.form {
  margin-top: 3rem;
  font-weight: 400;

  .email {
    width: 100%;
    background-color: var(--clr-blue);
    padding: 0.5rem 0 0.5rem 2rem;
    border: 0;
    border-radius: 1.75rem;

    color: var(--clr-white);
    font-size: var(--fs-form);
    line-height: var(--lh-form);
  }

  .request-access {
    cursor: pointer;

    margin-top: 1rem;
    width: 100%;
    background-color: var(--clr-green);
    padding: 0.5rem 0 0.5rem 2rem;
    border: 0;
    border-radius: 1.75rem;

    color: var(--clr-dark-blue);
  }
}

@media (min-width: 48em) {
  .bg-pattern {
    display: block;
    width: 14rem;
    height: 7rem;
    position: absolute;
    left: 2.5rem;
    bottom: -15rem;
  }

  .header {
    margin: 0;
  }

  .main {
    background-color: var(--clr-dark-blue);
    max-width: 42rem;
    padding-top: 3rem;
    padding-right: 3rem;
  }

  .container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    text-align: left;

    min-height: 48rem;
    padding: 3rem 2.5rem 0;

    background-color: none;

    &::before {
      opacity: 1;
      background-image: url("../assets/tablet/image-host.jpg");
      background-size: max(60%, 31rem) 100%;
      background-position: top right;
    }
  }

  .media {
    margin-right: 8rem;
    position: absolute;
    bottom: 0;
  }

  .form {
    position: relative;
    max-width: 75%;
    margin-bottom: 5rem;

    .email {
      padding: 0.8rem 2rem;
    }

    .request-access {
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
      margin: auto;
      width: unset;
      padding: 0.7rem 2rem;
      margin-top: 0;
      margin-right: 0.3rem;
    }
  }
}

@media (min-width: 90em) {
  body {
    display: flex;
  }

  .bg-pattern {
    left: unset;
    right: 0;
    bottom: -3.5rem;
  }

  .container {
    padding: 0 0 0 10rem;
    margin: auto;
    min-width: 90rem;
    min-height: 40rem;

    &::before {
      background-image: url("../assets/desktop/image-host.jpg");
      background-position: bottom right;
      background-size: 70% 100%;
    }
  }
}
